body{

background: #333333;
color: #fff;


}
.navbar{

border-bottom: 3px solid #096d9f;
background: #2e2f2f;
opacity: 0.7;



}
#home-section{

    background: url("../img/tour-photographer.jpg")
    no-repeat center top;
    background-size:cover ;
    min-height: 700px;
    background-attachment: fixed;
}
#home-section .dark-overlay{

background:rgba(0,0,0,0.70) ;
min-height: 700px;

}
#home-section .home-inner{

padding-top: 150px;
padding-bottom: 50px;

}
